<header class="header">
  <nav class="navbar">
    <a class="navbar-brand" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
      <img src="{{{uiRootPath}}}/img/moegui.svg" alt="Moegui">
    </a>
  </nav>
</header>
